label {
    padding: 10px;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container{
    padding: 3px;
}

.submitType{
    display: inline-block;
    position: static;
    margin-left: 10px;
}

.labelFor{
    display: block;
}

table {
    width: 100%;
}

.mat-table{
    background-color: purple;
}

.mat-column* {
    flex: 0 0 50% !important;
    min-width: 50% !important;
}